/* Kids 
Azul01: #164ED4
Azul02: #10DFDF
Laranja: #FF7925
Rosa01: #FC3860
Rosa02: #F771B5
*/

#initial-section.kids {
    background: url('../assets/pattern_recortado_kids.png');
    background-size: 15rem;
    background-color: white;
    height: 100vh;

    .logo-container img {
        max-width: 80%;
        max-height: 80%;
        object-fit: contain;
    }
}


/* Kids */

#initial-section.normal {
    background: url('../assets/pattern_recortado.jpg');
    background-size: 8rem;
    background-color: white;
    height: 100vh;

    .logo-container img {
        max-width: 100%;
        max-height: 80%;
        object-fit: contain;
    }


}

#initial-section.normal::after {
    content: " ";
    border-top: 100vh solid #C2A152;
    border-left: 80vw solid transparent;
    width: 0;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}



ul {
    list-style-type: none;
    color: #46424A;
    font-size: 1rem;
}

.home-buttons .text-center {
    background-color: white;
    border-radius: 8px;
    box-shadow: #959da533 0 8px 24px;
}

.home-buttons .text-center:hover {
    box-shadow: #00000059 0 5px 15px;
    cursor: pointer;
}

.home-buttons .text-center img {
    width: 100% !important;
}



@media (max-width: 500px) {
    #initial-section.normal.photo {
        h1 {
            font-size: 3.5rem !important;
        }
    }
}

@media (max-width: 360px) {
    #initial-section.normal.photo {
        h1 {
            font-size: 3rem !important;
        }
    }
}