#kids-detail-section.kids {
    background-color: #f2f2f2;

    .card-info {
        border-radius: 1rem;

        .icon-container {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: white;
        }


    }

    .img-container {
        img {
            max-width: 100%;
            border-radius: 20px;
        }
    }


}

@media (max-width: 1400px) {
    #kids-detail-section {
        .card-info {
            margin-bottom: 5px !important;
            margin-top: 5px !important;

            .col-2 {
                padding: 0px !important;
            }
        }
    }
}